
<ion-header>
  <ion-toolbar>
    <ion-title>play-midi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section id="section1">
    <h2>1 player, 2 visualizers</h2>
    <midi-visualizer
      type="piano-roll"
      src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid">
    </midi-visualizer>
    <midi-visualizer
      type="staff"
      src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid">
    </midi-visualizer>
    <midi-player
      src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid"
      sound-font visualizer="#section1 midi-visualizer">
    </midi-player>
</section>

</ion-content>


