@media (min-width: 740px) {
  ion-content {
    --background: #fff;
  #container {
    width: 1128px;
    margin: 20px auto 0px;
    margin-bottom: 50px;
    background: #fff;
  }
  
  #side-content {
    float: left;
    width: 328px;
  }
  #start-button{
    background-color: #000000;
  }
  .micro{
    margin-left: 560px;
  }
  #micro-icon{
    margin-right: 7px;
  }
  #notation-component {
    float: right;
    width: 800px;
    height: 392px;
    background:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0 20px 0;
  }
  
  #keyboard-component {
    clear: both;
    width: 100%;
    margin: 0;
    
  }
  
  #appDetails {
    text-align: right;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    margin: 0;
    padding: 10px 5px 0 0 ;
  }
  
  #appDetails a {
    color: rgba(0,0,0,0.6);
  }
  
  #appDetails a:hover {
    text-decoration: none;
  }
  
  .panel {
    height: 186px;
    padding: 0px;
    margin: 0 20px 20px 0;
    background:#FFFFF2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000000;
  }
  
}
  }
 

@media (max-width: 740px) {
  ion-content {
    --background: #fff;
  #container {
    display: inline-block;
    width: 100%;
    margin: 50px auto 0px;
    text-align: center;
  }
.panel .row {
    padding: 4px;
   }
   #start-button{
    background-color: #000000;
  }
  #side-content {
    display: flex;
    float: left;
    width: 100%;
    margin-top: -40px;
    padding-left: 20px;
  }
  .panel {
         width: 50%;
         background:#FFFFF2;
  }
  #micro-icon{
    margin-right: 7px;
  }
  #notation-component {
    height: 392px;
    background:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0 20px 0;
    
    
  }
  #keyboard-component {
    clear: both;
    width: 100%;
    margin: 0;
  }
  
  #appDetails {
    text-align: right;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    margin: 0;
    padding: 10px 5px 0 0 ;
  }
  
  #appDetails a {
    color: rgba(0,0,0,0.6);
  }
  
  #appDetails a:hover {
    text-decoration: none;
  }
  
  .panel {
    height: 186px;
    padding: 0px;
    margin: 0 20px 20px 0;
    background:#FFFFF2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000000;
  }
  .panel .content .row {
    padding: 4px;
   }
}
  }
  