ion-content {
    --background: #fff;
    border-left: 7px solid #000000;
  
    .header{
        padding: 0 12vw;
        margin-top: 4em;
        color: #000000;
        background-color: #fff;
        h3{
            font-size: 1.1rem;
            color: #000000;
            span{
                color: #000000;
            }
        }
        h1{
            font-size: 2.2em;
            font-weight: 400;
        }
    }
  
    .form{
        padding: 0 12vw;
        margin-top: 70px;
        ion-input{
            --background: #f7f7f7;
            --padding-start: 33px;
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: #000000;
            --color: #000000;
            border: 1px solid #000000
            
        }
    }
  
    .button .btn{
        color:#fff;
        width: 50vw;
        background-color: #000000;
        margin-top: 50px;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        ion-icon{
            margin-left: 30px;
        }
        }
        .footer{
            color: #000000;
            padding: 0 12vw;
            margin-top: 100px;
            text-align: center;
        
  
        h3{
            font-size: 1rem;
            font-weight: 400;
          span{
            font-size: 1.2rem;
            color: #ff987b;
            font-weight: 500;
            cursor: pointer;
          }
        }
       }
       .signup-footer{
        margin-top: 80px;
       }
    
  }